.nossa-historia{
    margin-top: 2em;
    font-family: "roboto";
}

.nossa-historia > div{
    text-align: center;
    color: rgba(0, 0, 0, 0.808);
}


.nossa-historia > p{
    margin-top: 1em;
    line-height: 1.4em;
}

 /* Essa classe vai ser utilizada de forma dinamica */
.bypaulo{
    padding: 8px;
    background-color: rgba(0, 0, 255, 0.795);
    border-radius: 10px;
    color: white;
}