<article class="nossa-historia"  data-aos="fade-right"
data-aos-duration="1900">

    <div>
        <h1 class="titulos">Minha história com a ana <span [class.bypaulo]="true">{{nomePaulo}}</span></h1> 
    </div>

   <p>"Quando conheci a Ana na Prodesp, foi como se o destino estivesse sussurrando em meus ouvidos. No primeiro dia em que fui resolver as questões de contrato na empresa, foi a primeira vez que a vi, parecia que estava caminhando em um sonho. A sua presença irradiava uma luz suave que iluminava aquele ambiente."</p>
    
   <p>"No início, éramos apenas amigos, mas havia algo mágico no jeito como conversávamos. Com o passar do tempo, nossas conversas se transformaram em momentos compartilhados e risos espontâneos. Um dia, decidimos sair juntos e, à medida que a noite avançava, a conexão entre nós se tornava cada vez mais palpável."</p>
    
   <p>"Naquela noite mágica, quando nossos olhares se encontraram e o mundo ao nosso redor parecia desaparecer, eu senti uma emoção indescritível. E foi naquele momento, sob o encanto das estrelas e o suave murmúrio da cidade, que eu tive o privilégio de beijar os lábios mais lindos que eu já vi em toda a minha vida."</p>
    
    <p>"A partir daquele instante, o que começou como uma simples amizade se transformou em algo mais profundo e significativo. No dia 28 de abril de 2024, o nosso amor floresceu oficialmente, e nos tornamos namorados, marcando o início de uma nova e emocionante jornada juntos."
    </p>

</article>

