<section>
    <h1 id="sobre-nos">Sobre nós</h1>
    <!---Sobre nós-->
    <div class="main-article">
         <!---Sobre o Paulo-->
        <article>
            <!---iMAGEM DO PAULO-->
            <div>
                <img src="" alt="foto-do-Paulo">
            </div>
    
            <!----NOME do Paulo-->
            <div>
                <h1>Nome: {{paulo.nome}} </h1>
            </div>
    
            <!---Sobre-->
            <div>
                <h2>Sobre: {{paulo.sobre}}</h2>
            </div>
    
            <!----Idade-->
            <div>
                <h2>Idade: {{paulo.idade}} anos</h2>
            </div>
    
            <!---Cidade-->
    
            <div>
                <h2>Cidade: {{paulo.cidade}}</h2>
            </div>
    
        </article>

         <!---Sobre a ana-->
        <article>

       

            <!---iMAGEM Da Ana-->
            <div>
               <img src="" alt="Iamgem-da Ana">
           </div>
       
           <!----NOME da Ana-->
           <div>
               <h1>Nome: </h1>
           </div>
       
           <!---Sobre-->
           <div>
               <h2>Sobre:</h2>
           </div>
       
           <!----Idade-->
           <div>
               <h2>Idade:</h2>
           </div>
       
           <!---Cidade-->
       
           <div>
               <h2>Cidade:</h2>
           </div>
       
        </article>
    </div> 
</section>

