<section>
    <h1 class="titulos">Sobre nós</h1>
    <!---Sobre nós-->
    <div class="main-article">
        <!---Card Paulo-->
      <app-card-sobre-nos
      [imagem]="paulo.img"
       [nome]="paulo.nome"
       [sobre]="paulo.sobre"
       [idade]="paulo.idade"
       [cidade]="paulo.cidade"
       [border-color]="paulo.borderColor"
       [boxShadow]="paulo.boxShadow"
       [borderColorImg]="paulo.borderColorImg"
       [borderColorShadowImg]="paulo.borderColorShadowImg" 
      >
      </app-card-sobre-nos>
      <!---Card Ana-->
      <app-card-sobre-nos 
      [imagem]="ana.img"
       [nome]="ana.nome"
       [sobre]="ana.sobre"
       [idade]="ana.idade"
       [cidade]="ana.cidade"
       [border-color]="ana.borderColor"
       [boxShadow]="ana.boxShadow"
       [borderColorImg]="ana.borderColorImg"
       [borderColorShadowImg]="paulo.borderColorShadowImg"
      >
      </app-card-sobre-nos>


    </div> 
</section>

